*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    font-size: 20px;
}

p{
    margin: 0 0 0;
}

.words{
    max-width: 500px;
    background: white;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 1rem 2rem 1rem 5rem;
    background: -webkit-gradient(linear,0 0, 0 100%, from(#d9eaf3), color-stop(4%, #fff)) 0 4px;
    background-size: 100% 3rem;
    position: relative;
    line-height: 3rem;
}

.words::before {
    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    left: 30px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4e4;
}

.buttons{
    margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-start{
    border-radius: 5px;
    width: 70px;
    font-size: 20px;
    background-color: limegreen;
}

.btn-end {
    border-radius: 5px;
    width: 70px;
    font-size: 20px;
    background-color: lightcoral;
}